@tailwind base;
@tailwind components;
@tailwind utilities;


/* .testimonial-swiper .swiper-slide {
  transition: transform 0.5s ease, opacity 0.5s ease;
}

body {
  background-color: #ffffff; 
    color: black; 
  transition: color 0.3s ease, background-color 0.3s ease; 
}


body.dark {
  background-color: #121212; 
  color: #eaeaea;
}


header {
  color: white;
}


a {
  transition: color 0.3s ease; 
}


a.dark {
  color: #f0f0f0; 
}


a.light {
  color: #000000;
}

 */
